<br><br><br><br>
<section id="upload" >
    <h3>Post Your Blog!</h3>
    <form action="/postBlog" method="post" autocomplete="off">
        <input class="uploadInput" type="text" id = "title" name="title" placeholder="Blog Title">
        <input class="uploadInput" type="text" id="author" name="author" placeholder="Author">
        <textarea name="content" placeholder="Blog Content goes here" class="blog-content uploadInput" id="Blog-Content"   style="min-height:300px" wrap="hard"></textarea>
        <input type="submit" value="Post" class="btn btn-warning" id="submitBtn">
    </form>

</section>
