#upload form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uploadInput{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 60vw;
    border: 2px solid gray ;
    outline: none;
}

.uploadInput:focus {
    border: 2px solid rgb(153, 217, 249);
}


#upload input{
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

#submitBtn{
    border:none;
    box-sizing: border-box;
    padding: 0.5rem 5rem 0.5rem 5rem;
}

#upload{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-img-top, .img-cover{
    object-fit: cover;
}

.img-cover
{
    object-position: top left;

}
